<header class="identity">
  <img class="avatar" src="/img/profile.jpg" alt="{{ site.title }}">
  <h1 class="name">{{ site.title }}</h1>
  <p class="intro">
    I'm Demi, cofounder of <a href="https://colonist.io/">Colonist.io</a>. Heavily interested in how the mind works. I've open-sourced my <a href="https://mmpractices.com/">mental model practice list</a>.
  </p>
  <div class="socials">
    <a href="https://x.com/demiculus">X</a>
    <a href="https://instagram.com/demiculus">Instagram</a>
    <a href="https://github.com/demiculus">GitHub</a>
    <a href="https://linkedin.com/in/demiculus">LinkedIn</a>
    <a href="https://www.goodreads.com/user/show/44266195-demi-yilmaz">Goodreads</a>
    <a href="/feed.xml">RSS</a>
  </div>
</header>
