<div class="sidebar noprint">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        {{ site.title }}
        <!-- {{ site.sub-title }} -->
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div class="sidebar-social">
      <ul class="social">
        <li><a href="https://twitter.com/demiculus" class="fa fa-twitter " target="_blank"></a><br></li>
        <li><a href="https://instagram.com/demiculus" class="fa fa-instagram " target="_blank"></a><br></li>
        <li><a href="https://facebook.com/demiculus" class="fa fa-facebook " target="_blank"></a><br></li>
        <li><a href="https://linkedin.com/in/demiculus" class="fa fa-linkedin-square " target="_blank"></a><br></li>
        <li><a href="http://mywallets.co/demiculus/" class="fa fa-bitcoin " target="_blank"></a><br></li>
        <li><a href="https://github.com/demiculus" class="fa fa-github-square" target="_blank"></a><br></li>
        <li><a href="https://stackoverflow.com/users/4204919/demiculus" class="fa fa-stack-overflow" target="_blank"></a><br></li>
        <li><a href="https://www.goodreads.com/user/show/44266195-demi-yilmaz" class="fa fa-book " target="_blank"></a><br></li>
      </ul>
    </div>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="/">Home</a>
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      <!-- <a class="sidebar-nav-item" href="/cv" target="_blank">Résumé</a> -->
      <!-- <a class="sidebar-nav-item" href="/resume">Resume/CV</a> -->
      <a class="sidebar-nav-item" href="/about">About</a>
      <a class="sidebar-nav-item" href="/investments">Investments</a>
      <!-- <a class="sidebar-nav-item" href="/blog">Blog</a> -->
      <a class="sidebar-nav-item" href="mailto:demirbyilmaz@gmail.com">Contact Me</a>

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
