<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include topbar.html %}

    <main class="page">
      {% if page.url == "/" %}
        {% include identity.html %}
      {% endif %}
      {{ content }}
      {% if page.created or page.updated %}
        <div class="page-dates">
          {% if page.created %}<p>Created {{ page.created | date: "%b %-d, %Y" }}</p>{% endif %}
          {% if page.updated %}<p>Updated {{ page.updated | date: "%b %-d, %Y" }}</p>{% endif %}
        </div>
      {% endif %}
      {% if page.description and page.hide_related != true %}
        {% include related.html %}
      {% endif %}
    </main>

    {% include footer.html %}

  </body>
</html>
